.h5p-grid-checker .h5p-grid-checker-responsive {
  width: 100%;
  overflow-y: auto;
}

.h5p-grid-checker table.h5p-grid-checker-response tbody td {
  text-align: center;
}

.h5p-grid-checker table.h5p-grid-checker-response {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}

.h5p-grid-checker table.h5p-grid-checker-response tr {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}

.h5p-grid-checker table.h5p-grid-checker-response tr th {
  color: #ffffff;
  font-weight: bold;
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
}

.h5p-grid-checker table.h5p-grid-checker-response tr th,  .h5p-grid-checker table.h5p-grid-checker-response tr td{
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: center;
}

.h5p-grid-checker table.h5p-grid-checker-response td.incorrect {
  background: #f7d0d0;
  position: relative;
}

.h5p-grid-checker table.h5p-grid-checker-response td.incorrect input:before {
  position: absolute;
  right: 0.3em;
  font-family: 'H5PFontAwesome4';
  content: "\f00d";
  color: #b71c1c;
}

.h5p-grid-checker table.h5p-grid-checker-response td.correct, .h5p-grid-checker table.h5p-grid-checker-response td.solution {
  background: #9dd8bb;
  position: relative;
}

.h5p-grid-checker table.h5p-grid-checker-response td.correct input:before {
  position: absolute;
  right: 0.3em;
  font-family: 'H5PFontAwesome4';
  content: "\f00c";
  color: #255c41;
}

.h5p-grid-checker .h5p-grid-checker-download-responses:before {
  content: "\F019";
}
